<div class="container">
    <div style="text-align:center">
      <h1>suma: {{ titulo }}</h1>
    </div>
  
    <form>
      <div class="form-group">
        <label for="operandoA">denominador:</label>
        <input
          type="number"
          class="form-control"
          id="A"
          name="A"
          placeholder="numeroA"
          [(ngModel)]='A'
        />
      </div>
  
      <div class="form-group">
        <label for="B">numerador:</label>
        <input
          type="number"
          class="form-control"
          id="B"
          name="B"
          placeholder="numeroB"
          [(ngModel)]="B"
        />
      </div>
  
      <button type="submit" class="btn btn-primary" (click)="onSumar()">
        Sumar
      </button>
    </form>
    <p>Resultado {{ Resultado }}</p>
  </div>
  
  
